@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
body{
  font-family: 'Rubik', sans-serif;
  background: #383739 !important;
}
h1,h3,h4,h5{

    font-family: 'Rubik', sans-serif;
    font-weight: 700;
}
.navbar{
  background-color:#383739;
  color:#10F735;
}
a{
  color:#10F735 !important;
}
.navbar-brand{
  font-weight: 755 !important;
}
input{
  background:#383739 !important;
  color:#10F735 !important;
}
.btn-umut{
background: #10F735 !important;
color:#383739  !important;
}
.my-page {
    position: absolute;
    right: 20px;
    width: 300px !important;
    height: 200px !important;
    border: 1px solid hsla(0,3.8%,69%,.56);
    box-shadow: 7px 7px 0 0 rgb(168 234 179 / 66%);
    top: 4rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    border-radius: 11px;
    padding: .5rem .5rem 1rem 1rem;
    background-image: linear-gradient(
136deg
, #383739 0%, rgb(120 117 116 / 72%) 100%);
font-family: 'Rubik', sans-serif;
font-weight: 700;
color:#10F735 !important;

}
.main-row{
  margin: 8%;
  background-color: white;
  box-shadow:0 0 10px 10px rgba(0,0,0,.05);
  border-radius:0.5rem;

}
.blog-img  > img {
  width: 70%;
  height:70%;
  transform: translateY(-30px);
  object-fit: cover;
  border-radius:0.5rem;
  box-shadow:0 0 8px 3px rgba(0,0,0,.3);
}
.blog-date span {
  color:#10F735;
}
.ul-cls{
  justify-content: center;
}
.ul-cls li{
  cursor: pointer;
}
.blog-title > h2 {
  font-style: normal;
  font-weight: 400;
}
.blog-desc > p {
  font-style: normal;
  line-height: 2;
}
img.logo_img {
    width: 70px;
    height: 40px;
}
.container {
    position: absolute;
    top: 25%;
    left: 2px;
}
.cekom {
    position: fixed;
    color: #10F735;
    right: -4%;
    top: 29%;
}
h1.cekom {
    position: unset;
    font-size: 20px;
}
  h2 {
    position: absolute;
    font-family: 'Rubik', sans-serif;
    color: #fee;
    top: 35px;
}
/* Post Single */
.post-single {
  position: absolute;
  width: 70%;
  left: 2%;
  background-color: #ffffff !important;
  padding: 30px;
  border-radius: 20px !important;
  margin-bottom: 30px;
  margin-top: 30px;
  -webkit-box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
  box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
}

.post-single-image {
  margin-top: -60px;
  margin-bottom: 40px;
  border-radius: 20px;
}

.post-single-image img {
  border-radius: 20px;
  -webkit-box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
          box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
}

.post-single-content .categorie {
  margin-bottom: 20px;
}

.post-single-content h4 {
  margin-bottom: 20px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.post-single-content h4 a:hover {
  color: #f67280;
}

.post-single-content p {
  margin-bottom: 30px;
}

.post-single-info img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 7px;
}

.post-single-info li {
  margin-bottom: 0;
  font-size: 13px;
  color: #506172;
  text-transform: capitalize;
  font-weight: 400;
}

.post-single-body {
  margin-top: 30px;
}

.post-single-body h5 {
  margin-top: 30px;
  margin-bottom: 10px;
}

.post-single-body .image {
  margin-top: 15px;
  margin-bottom: 15px;
}

.post-single-body .image img {
  border-radius: 5px;
}

.post-single-body .image p {
  color: #506172;
  text-align: center;
  font-size: 12px;
  margin-top: 4px;
  margin-bottom: 0px;
}

.post-single-body .quote {
  background-color: #F9F9FF;
  padding: 20px;
  border-radius: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.post-single-body .quote i {
  font-size: 30px;
  color: #f67280;
}

.post-single-body .quote p {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  color: #152035;
  font-weight: 900;
}

.post-single-body .quote small {
  color: #506172;
  font-weight: 400;
}

.post-single-body .list {
  margin-bottom: 15px;
}

.post-single-body .list li {
  position: relative;
  padding-left: 15px;
  margin-bottom: 10px;
}

.post-single-body .list li:before {
  background-color: #506172;
  border-radius: 50%;
  position: absolute;
  content: "";
  left: 0;
  top: 12px;
  width: 5px;
  height: 5px;
}
.categorie {
  background-color: #918687;
  color: #ffffff;
  padding: 2px 15px;
  display: inline-block;
  margin: auto;
  text-align: center;
  font-size: 13px;
  border-radius: 20px;
  font-weight: 800;
  text-transform: capitalize;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.post-card {
    background-color: #ffffff !important;
    padding: 30px;
    border-radius: 20px !important;
    margin-bottom: 60px;
    display: block;
    position: relative;
    -webkit-box-shadow: 0px 5px 20px 0px rgb(69 67 96 / 10%);
    box-shadow: 0px 5px 20px 0px rgb(69 67 96 / 10%);
    -webkit-transition: all 0.9s ease-in-out;
    transition: all 0.9s ease-in-out;
}
.post-card-image {
    margin-top: -60px;
    margin-bottom: 30px;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    -webkit-box-shadow: 0 10px 10px rgb(0 0 0 / 8%), 0 0 0 transparent;
    box-shadow: 0 10px 10px rgb(0 0 0 / 8%), 0 0 0 transparent;
}
